### Base de datos (solo backend)
DB_USERNAME=postgres
DB_PASSWORD=mypassword
DB_NAME=mydb
DB_HOST=db          # nombre del servicio postgres en docker-compose

RAILS_ENV=development

VITE_API_BASE_URL=
VITE_API_KEY=