@use '@/styles/_variables.scss' as *;

.container__product {
  max-width: 1200px;
  margin: 0 auto;
}

.product-detail {
  display: flex;
  gap: 2rem;

  &__left {
    flex: 1;
  }

  &__image {
    width: 100%;
    max-width: 400px;
    border-radius: 1rem;
  }

  &__right {
    flex: 2;
    max-width: 380px;
  }

  &__title{
    font-size: 2rem;
  }

  &__price{
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .color-options__container {
    display: flex;
    flex-direction: column;
  }

  .color-options {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;

    .color-square {
      width: 32px;
      height: 32px;
      border: 1px solid transparent;
      cursor: pointer;

      &.selected {
        border-color: #000;
      }
    }
  }

  .cart__button{
    margin-top: 2rem;
    width: 380px;
    padding: 1rem;
    background-color: #000;
    color: white;

    cursor: pointer;
    &:disabled {
      background-color: #F3F2F2;
      color: #C2BFBC;
      cursor: not-allowed;
    }

    &:active:not(:disabled) {
      border: 1px solid #aaa;
      background-color: white;
      color: #000;
    }
  }

  .storage-options {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    .storage-button {
      padding: 1rem;
      border: 1px solid #aaa;
      background: white;
      cursor: pointer;

      &.selected {
        border-color: #000;
      }
    }
  }
}

.product-specs {
  margin-top: 2rem;

  .specs-title {
    margin-bottom: 2em;
  }
  .specs-grid {
    display: flex;
    flex-direction: column;
  }

  .spec-row {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    border-top: 1px solid #000;

    .spec-key {
      color: #333;
      width: 20%;
    }

    span:last-child {
      width: 80%;
      color: #555;
    }
  }
  .spec-row:last-child {
    border-bottom: 1px solid #000;
  }
}
