@use '@/styles/_variables.scss' as *;

.container__product {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.product-detail {
  display: flex;
  gap: 2rem;

  &__left {
    flex: 1;
  }

  &__image {
    width: 100%;
    max-width: 400px;
    border-radius: 1rem;
  }

  &__right {
    flex: 2;
    max-width: 380px;
  }

  &__title {
    font-size: 2rem;
  }

  &__price {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .color-options__container {
    display: flex;
    flex-direction: column;
  }

  .color-options {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;

    .color-square {
      width: 32px;
      height: 32px;
      border: 1px solid transparent;
      cursor: pointer;

      &.selected {
        border-color: #000;
      }
    }
  }

  .cart__button {
    margin-top: 2rem;
    max-width: 380px;
    width: 100%;
    padding: 1rem;
    background-color: #000;
    color: white;

    cursor: pointer;
    &:disabled {
      background-color: #f3f2f2;
      color: #c2bfbc;
      cursor: not-allowed;
    }

    &:active:not(:disabled) {
      border: 1px solid #aaa;
      background-color: white;
      color: #000;
    }
  }

  .storage-options {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    .storage-button {
      padding: 1rem;
      border: 1px solid #aaa;
      background: white;
      cursor: pointer;

      &.selected {
        border-color: #000;
      }
    }
  }
}

.product-specs {
  margin-top: 2rem;

  .specs-title {
    margin-bottom: 2em;
  }
  .specs-grid {
    display: flex;
    flex-direction: column;
  }

  .spec-row {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    border-top: 1px solid #000;

    .spec-key {
      color: #333;
      width: 20%;
    }

    span:last-child {
      width: 80%;
      color: #555;
    }
  }
  .spec-row:last-child {
    border-bottom: 1px solid #000;
  }
}

.product-similar{
  margin-top: 3rem;
}

.specs-title__similar{
  margin-bottom: 2rem
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }

  .container__product {
    padding: 0 1rem;
  }

  .product-detail {
    flex-direction: column;
    align-items: center;

    &__left,
    &__right {
      width: 100%;
      max-width: 100%;
    }

    &__image {
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }

    &__right {
      padding: 0 1rem;
    }

    &__title {
      font-size: 1.5rem;
    }

    &__price {
      font-size: 1.1rem;
      margin-bottom: 2rem;
    }
  }

  .spec-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;

    .spec-key,
    span:last-child {
      width: 100%;
      font-size: 0.9rem;
    }
  }
  .cart__button {
    width: 100%;
  }
}
