@use '@/styles/_variables.scss' as *;

.navbar-container {
  display: flex;
  flex-direction: row;
  max-height: 80px;
  height: 100%;
  max-width: $max-with-container;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-inline: 15px;
  margin: 0 auto;
}

.logo {
  width: 74px;
  height: 24px;
}

.cart {
  display: flex;
  flex-direction: row;
}

.bag {
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

.product-counter{
  height: 24px;
  line-height: 24px;
}